body {
	font-family: "myriad-pro", sans-serif;
}


h1 {
	font-weight: 900;
	font-size: 45px;
	text-align: left;
	margin-top: 12px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 20px;
	color: #9AEB8C;
	width: 60px;
}

nav {
	width: 100%;
	text-align: right;
}

h2 {
	font-size: 250px;
	color: #FF5C42;
	letter-spacing: -.015em;
	max-width: 850px;
	margin: 0px;
}

p {
	font-size: 45px;
	font-weight: 900;
	letter-spacing: -.025em;
	max-width: 850px;
}

a {
	font-size: 24px;
	font-weight: 300;
	text-decoration: none;
	color: #9AEB8C;
	margin: 20px;
}

img {
	width: 100%;
}

ul {
	font-size: 45px;
	font-weight: 300;
	list-style-type: none;
	max-width: 850px;
}

footer {
	background-color: #FFF;
}

h6 {
	font-size: 27px;
	font-weight: 300;
	max-width: 850px;
	text-align: center;
}

.section-1 {
	background-color: #9AEB8C;
	position: absolute;
	width: 100%;
	text-align: center;
}

#slogan {
	font-style: italic;
	color: #FF5C42;
}

/*.masthead {
	width: 100%;
	position: absolute;
	height: 60px;
    top: 0;
    left: 0;
}

.top-contact-us {
	font-size: 24px;
	font-weight: 300;
	text-align: right;
}

.background-1 {
	width: 100%;
	height: 540px;
	background-color: #FFF;
	position: absolute;
	top: 60px;
}
