body {
	font-family: "myriad-pro", 'arial', sans-serif;
	font-size: 9px;
	text-align: center;
}

h1 {
	font-weight: 900;
	font-size: 5em;
	text-align: left;
	line-height: 0em;
	letter-spacing: -.015em;
	margin-top: 11px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #999;
}

nav {
	width: 100%;
	text-align: right;
}

a {
	font-size: 2.5em;
	font-weight: 400;
	text-decoration: none;
	color: #999;
	margin-left: 20px;
	margin-right: 20px;
}

h2 {
	font-size: 25em;
	font-weight: 900;
	line-height: 1.168em;
	color: #000;
	letter-spacing: -.015em;
	margin: 0px;
}

p {
	font-family: 'Crimson Text', serif;
	font-size: 6em;
	font-weight: 400;
	line-height: 1.168em;
	color: #000;
	letter-spacing: -.020em;
}

h3 {
	font-family: "myriad-pro", 'arial', sans-serif;
	font-size: 6em;
	font-weight: 900;
}

h5 {
	font-family: "myriad-pro", 'arial', sans-serif;
	font-size: 2.5em;
	font-weight: 900;
	letter-spacing: 0em;
}

ul {
	font-size: 2.5em;
	font-weight: 900;
	list-style-type: none;
}

footer {
	background-color: #FFF;
}

h6 {
	font-size: 2.5em;
	font-weight: 900;
	line-height: 1.168em;
}

#masthead {
	max-width: 1200px;
	margin: auto;
	padding-left: 20px;
	padding-top: 11px;
	padding-right: 0px;
	padding-bottom: 11px;
}

.wrap {
	max-width: 850px;
	margin: auto;
	padding: 10px;
}


#intro {
	background-color: #999;
	margin: 0;
}

#select {
	background-color: #FFF;
	margin: 0;
}

#create {
	background-color: #999;
	margin: 0;
}


/*.masthead {
	width: 100%;
	position: absolute;
	height: 60px;
    top: 0;
    left: 0;
}

.top-contact-us {
	font-size: 24px;
	font-weight: 300;
	text-align: right;
}

.background-1 {
	width: 100%;
	height: 540px;
	background-color: #FFF;
	position: absolute;
	top: 60px;
}
