/** {
   border: 1px solid red !important;
}*/

body {
	font-family: 'Rokkitt', serif;
	font-size: 14px;
	margin: 0;

}

header {
	height: 68px;
	padding-top: 45px;
	width: 863px;
}

h1 {
	font-size: 2.6em;
	font-style: italic;
	font-weight: 400;
	line-height: 1em;
	text-align: left;
	color: #fff;
	letter-spacing: .027em;
}

h2 {
	font-size: 1.3em;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 1.618em;
	text-align: right;
	color: #fff;
	letter-spacing: .28em;
}

h3 {
	font-family: 'Gill Sans', 'Gill Sans MT', arial, sans-serif;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 1.8em;
}

h4 {
	font-weight: 700;
	font-size: 1.5em;
	margin-bottom: .3em;
}

span:hover {
	color: #fff;
	border-bottom: 1px solid #fff;
	padding: 0 0 2px 0px;
}

span:active {
	color: #fff;
	border-bottom: 2px solid #fff;
	padding: 0 0 2px 0px;
}

nav a:link {
	font-family: 'Gill Sans', 'Gill Sans MT', arial, sans-serif;
	font-size: 1em;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .027em;
	color: #fff;
	padding-left: 20px;	
}

nav a:visited {
	color: #fff;
	padding-left: 20px;	
}

nav a:hover {
	color: #fff;
}

nav a:active {
	color: #fff;
}

main {
	width: 863px;
	margin: 58px 165px;
}

img {
	width: 262px;
	border: 2px solid #000;
}

h5 {
	font-family: 'Gill Sans', 'Gill Sans MT', arial, sans-serif;
	font-size: 1em;
	font-weight: 400;
	letter-spacing: .027em;
	color: #fff;
	line-height: 75px;
}

footer {
	background-color: #000;
	padding: 0px 165px;
	width: 100%;
	max-width: 863px;
	height: 75px;
	margin: 0;
	line-height: 75px;
}

p {
	font-size: 1.2em;
	line-height: 1.2em;
}

article header {
	padding: 0;
}

header h4 {
	font-size: 2em;
	font-weight: 700;
	margin: 0;
	line-height: 1.618em;
}

header h3 {
	font-family: 'Gill Sans', 'Gill Sans MT', arial, sans-serif;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	font-weight: 400;
	line-height: .75em;
	margin: 0;
}

section {
	border-top: 1px solid #000;
	float: left;
	padding-top: 8px;
}

.st-john {
	width: 863px;
}

.text-left {
	float: left;
	width: 530px;
	margin: 0;
}

.image-right {
	float: left;
	margin: 0 0 0 65px;
}

#top-nav {
	float: left;
	margin: 17px 0 0 423px;
}

.column-1 {
	float: left;
	width: 266px;
	height: 230px;
	margin: 0 30px 43px 0;
}

.column-2 {
	float: left;
	width: 266px;
	height: 230px;
	margin: 0 30px 43px 0;
}

.column-3 {
	float: left;
	width: 266px;
	height: 230px;
	margin: 0 0 43px 0;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#wordmark {
	width: 278px;
	margin: 0px 0 5px 0;
	float: left;
}

#masthead {
	background-color: #000;
	max-width: 863px;
	height: 114px;
	padding: 0px 165px 0px 165px;
}

#bottom-nav {
	float: left;
	margin: 0 0 0 330px;
}

#copyright-line {
	float: left;
}