/** {
   border: 1px solid red !important;
}*/

body {
	font-family: "myriad-pro", 'arial', sans-serif;
	font-size: 9px;
	text-align: center;
	margin: 0;
}

img {
	display: inline-block;
}

h1 {
	font-weight: 900;
	font-size: 5em;
	text-align: left;
	line-height: 0em;
	letter-spacing: -.015em;
	margin: 18px 0 0 0;
	color: #999;
}

nav {
	width: 100%;
	text-align: right;
}

a {
	font-size: 2.5em;
	font-weight: 400;
	text-decoration: none;
	color: #999;
	margin: 0 20px;
}

h2 {
	font-size: 25em;
	font-weight: 900;
	line-height: 1.168em;
	color: #000;
	letter-spacing: -.015em;
	margin: 0 0 .06em 0;
}

p {
	font-family: 'Crimson Text', serif;
	font-size: 5em;
	font-weight: 400;
	line-height: 1.168em;
	width: 100%;
	color: #000;
	letter-spacing: -.020em;
	margin: 0;
}

h3 {
	font-family: "myriad-pro", 'arial', sans-serif;
	font-size: 5em;
	font-weight: 900;
	line-height: 1.6em;
}

h4 {
	font-family: "myriad-pro", 'arial', sans-serif;
	font-size: 2.5em;
	font-weight: 900;
	letter-spacing: 0em;
	line-height: 1.618em;
}

h5 {
	font-family: "myriad-pro", 'arial', sans-serif;
	font-size: 3em;
	font-weight: 900;
	letter-spacing: 0em;
	line-height: 1.618em;
	margin: 0;
}

h6 {
	font-weight: 900;
	font-size: 4em;
	text-align: center;
	line-height: 1.618em;
	letter-spacing: -.015em;
	color: #999;
}

small {
	font-size: .75em;
}

span {
	text-transform: uppercase;
}

ul {
	font-size: 2.5em;
	font-weight: 900;
	list-style-type: none;
}

img + h4 {
	margin: 1em 0;
}

p + h4 {
	margin: 1.5em 0 0 0;
}

h6 + h5 + h5 {
	margin: 0;
}

.col-4 {
	float: left;
	margin: 2.5%;
	border: 1px solid red
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.rate-box {
	background-color: #FFF;
	width: 388px;
	margin: 0 0 3em 0;
	display: inline-block;
}

.wrapper {
	width: 80%;
	max-width: 800px;
	min-width: 800px;
	margin: 0 auto;
	border: 1px solid red;
}

.circle {
	width: 74px;
	height: 74px;
	background-color: #FFF;
	border-radius: 74px;
	position: relative;
  	top: -38px;
  	margin: 0 auto;
}

.circle-fill {
	width: 74px;
	height: 74px;
	background-color: #999;
	border-radius: 74px;
	position: relative;
  	top: -38px;
  	margin: 0 auto;
}

.2col {
	width: %;
/*	max-width: 1000px;
	min-width: 1000px;*/
	margin: 0 auto;
	border: 1px solid red;
}

.right-col {
	float: right;
	width: 50%;
	max-width: 475px;
	min-width: 475px;
	border: 1px solid red;
}

.left-col {
	float: left;
	width: 40%;
	max-width: 388px;
	min-width: 388px;
	border: 1px solid red;
}

#masthead {
	background-color: #FFF;
	max-width: 1200px;
	padding: 11px 17px 11px 17px;
}

#intro {
	background-color: #999;
	width: 100%;
	height: 490px;
	border: 1px solid red;
	margin: 0;
}

#create {
	background-color: #FFF;
	width: 100%;
	height: 490px;
	border: 1px solid red
}

#enter {
	background-color: #999;
	width: 90%;
	height: 550px;
	padding: 0 5% 0 5%;
	border: 1px solid red;
}

#rate {
	background-color: #FFF;
	height: 490px;
}

#contact {
	background-color: #999;
	height: 490px;
}

